@{
    ViewData["Title"] = "ورود ";
}
<div class="container mt-5">
    <div class="card shadow-lg p-3 mx-auto" style="max-width: 400px;">
        <div class="card-header bg-success text-white text-center">
            <h4>ورود کاربر</h4>
        </div>
        <div class="card-body">


            <form method="post" asp-action="Login">
                <div class="mb-3">
                    <label for="username" class="form-label">نام کاربری</label>
                    <input type="text" name="username" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">رمز عبور</label>
                    <input type="password" name="password" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">ورود</button>
                <div class="text-center mt-2">
                    <a asp-action="Register">ثبت‌نام نکرده‌اید؟ ثبت‌نام کنید</a>
                </div>
            </form>
        </div>
    </div>
</div>